button {
    outline: none;
    background: transparent;
    border: 1px solid transparent;
  }

.AutoLoanCalulator {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

    margin-top: 75px
}

.Input-Container {
    display: grid;
    
    border-radius: 10px;
    max-width: 1100px;
    width: 900px;
    height: 390px;
    background-color: #D9D9D9;

    padding-left: 5%;
    padding-right: 5%;

    grid-template-rows: 1fr,1fr,1fr,1fr;
    grid-template-columns: 1fr,1fr,1fr;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    grid-row: 1;
    grid-column: 1/4;

    text-align: center;
}

.Auto-Price {
    display: flex;
    justify-content: end;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    grid-row: 2;
    grid-column: 1;
}

.Loan-Term {
    display: flex;
    justify-content: end;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    grid-row: 2;
    grid-column: 2;
}

.Interest-Rate {
    display: flex;
    justify-content: end;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    grid-row: 2;
    grid-column: 3;
}

.Down-Payment{
    display: flex;
    justify-content: end;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    grid-row: 3;
    grid-column: 1;
}

.Trade-In-Value {
    display: flex;
    justify-content: flex-end;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    grid-row: 3;
    grid-column: 2;
}

.Sales-Tax {
    display: flex;
    justify-content: flex-end;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    grid-row: 3;
    grid-column: 3;
}

input {
    width: 140px;
    height: 36px;

    background: #FFFFFF;
    border-radius: 3px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
.Calculate {
    width: 150px;
    height: 40px;
    background: #3EA002;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    
    grid-row: 4;
    grid-column: 3;
}

.Calculate:hover{
    cursor: pointer;
    background: #3a9700;
}

.Calculate:active{
    background: #338500;
}

.Output-Container {
    width: 820px;
    height: 375px;
    background: #D9D9D9;
    border-radius: 10px;

    margin-top: 40px;
    margin-bottom: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.Output-Monthly {
    width: 820px;
    height: 70px;
    background: #3EA002;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    margin: 0px; 

    display: grid;
}

.Monthly {
    margin-left: 10px;
    margin-top: 20px
}

.Output-Other {
    width: 820px;
    height: 55px;

    display: grid;
    grid-template-columns: 1fr,1fr;
}

.Left {
    text-align: left;
    margin-left: 10px;

    grid-column: 1;
} 
    
.Right {
    text-align: right;
    margin-right: 10px;

    grid-column: 2;
}

.Clear {
    margin: 40px;
    color: #d1d1d1;
}

.Clear:hover {
    color: grey;
    cursor: pointer; 
}

Clear:active {
    color: black;
}